@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    font-family: 'Inconsolata', monospace;
    background-color: #1c1c1d;
}

/* SCROLLBAR */

::-webkit-scrollbar {
    width: 10px;
    background-color: #030303;
}

::-webkit-scrollbar-track {
    background-color: rgba(128, 128, 128, 0.164);
}
::-webkit-scrollbar-thumb {
    background-color: #7a2cbf21;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(122, 116, 116, 0.595);
}

/* END SCROLLBAR */

/* NAVBAR */

.navbar-background{
    position: relative;
    background-image: url('../img/image2.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 30%;
    height: 55vh;
}

.navbar{
    background: rgba(0, 0, 0, 0.656) !important;
    border-bottom: 1px solid #1c1c1d;
    backdrop-filter: blur(10px);
}

.nav-link{
    color: #fff !important;
}

.logo-title {
    font-family: 'Cormorant', serif;
    color: #fff;
}

.btn-login{
    border-radius: 30px;
    background-color: #9d4eddd5;
    border: none;
    color: #fff;
}

.btn-register{
    border-radius: 30px;
    background-color: #7a2cbfd5;
    border: none;
    color: #fff;
}

.btn-login:hover{
    background-color: #9d4edd;
    border: none;
    color: #fff;
}

.btn-register:hover{
    background-color: #7a2cbf;
    border: none;
    color: #fff;
}

.btn-register:focus{
    background-color: #7a2cbf;
    border: none;
    color: #fff;
}

.navbar-toggler{
    border: none;
}

.navbar-toggler:hover{
    border: none;
}

.navbar-toggler:target{
    border: none;
}

.title-nav{
    color: white;
    text-align: center;
    padding-top: 30vh;
    font-family: 'Cormorant', serif;
    font-weight: 900;
    text-shadow: 5px 4px 5px rgba(0,0,0,0.59);
}

/* END NAVBAR */

/* FOOTER */

.footer {
    position: relative;
    background: rgb(45,30,128);
    background: linear-gradient(132deg, rgba(45,30,128,1) 0%, rgba(0,18,71,1) 100%);
}

.icon{
    color: #fff;
    font-size: 2rem;
}

.title-info-footer{
    color: #fff;
    font-size: 1.8rem;
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer-link{
    font-size: 1.5rem;
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer-link a{
    text-decoration: none;
    color: #fff;
}

.line{
    color: #fff;
}

.info-copy{
    color: #fff;
}

.line-md{
    color: #fff;
    margin:auto;
    width: 95%;
    display: none;
}

.link:hover{
    color: #ccc;
    transition: .5s;
    margin-left: 10px;
}

/* END FOOTER */

/* MODAL */

.modal-content{
    background-color: rgba(100,100,100,0.3) !important;
    backdrop-filter: blur(15px);
    color: #fff;
    text-align: center;
    border-radius: 20px;
}

.modal-content input{
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: rgba(100, 100, 100, 0.5);
}

.modal-content input:focus{
    background-color: rgba(100, 100, 100, 0.5);
}

.modal-header,.modal-footer{
    border: none;
}

.btn-social{
    width: 80px;
}

/* END MODAL */

@media (max-width: 768px) {
    .container {
        width: 100%;
    }
    .btn{
        margin-top: 5px;
        margin-bottom: 10px;
    }
    .nav-link{
        text-align: center;
    }
    .btn-lr{
        width: 200px;
    }

    .line{
        margin:auto;
        width: 95%;
    }

    .line-md{
        display: block;
    }

    .footer-link{
        text-align: start;
    }

    .center-text-nav{
        text-align: center;
    }
}



