@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    font-family: 'Inconsolata', monospace;
    background-color: #1c1c1d;
}

/* SCROLLBAR */

::-webkit-scrollbar {
    width: 10px;
    background-color: #030303;
}

::-webkit-scrollbar-track {
    background-color: rgba(128, 128, 128, 0.164);
}
::-webkit-scrollbar-thumb {
    background-color: #7a2cbf21;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(122, 116, 116, 0.595);
}

/* END SCROLLBAR */

/* MODAL */

.modal-content{
    background-color: rgba(100,100,100,0.3) !important;
    backdrop-filter: blur(15px);
    color: #fff;
    text-align: center;
    border-radius: 20px;
}

.modal-content input{
    background-color: rgba(100, 100, 100, 0.5);
}
.modal-content select{
    background-color: rgba(100, 100, 100, 0.5);
}
.modal-content option{
    background-color: rgb(255, 255, 255);
}

.modal-content input:focus{
    background-color: rgba(100, 100, 100, 0.5);
}

.modal-header,.modal-footer{
    border: none;
}

.btn-social{
    width: 80px;
}

/* END MODAL */

@media (max-width: 768px) {
    .container {
        width: 100%;
    }
    .btn{
        margin-top: 5px;
        margin-bottom: 10px;
    }
    .nav-link{
        text-align: center;
    }
    .btn-lr{
        width: 200px;
    }

    .line{
        margin:auto;
        width: 95%;
    }

    .line-md{
        display: block;
    }

    .footer-link{
        text-align: start;
    }

    .center-text-nav{
        text-align: center;
    }
}



