@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300;400;500;600;700;800;900&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    font-family: 'Inconsolata', monospace;
    overflow-x: hidden;
}

.background-nota{
    position: relative;
    background-image: url('../img/webb.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 28%;
    background-position-x: 50%;
    height: 55vh;
}

.img-bg{
    background-image: url('../img/fondo-estrella.jpg');
    padding-bottom: 50px;
}

.container-nota{
    background-color: rgb(238, 237, 237) ;
}

/* NOTA */

#nota{
    border-radius: 10px;
    padding: 30px;
}

#nota h3{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-decoration: underline;
}

.title-nota{
    color: #000000;
    text-align: left;
}

.title-nota h1{
    font-size: 2rem;
}

.nota-contenido{
    color: #1c1c1d;
    text-align: left;
    font-size: 1.5rem;
}

.nota-contenido p{
    margin-bottom: 20px;
    margin-top: 20px;
}

.nota-contenido h4{
    font-weight: bold;
}

.img-nota{
    width: 45vw;
}

/* MODAL */

.modal-content{
    background-color: rgba(100,100,100,0.3) !important;
    backdrop-filter: blur(15px);
    color: #fff;
    text-align: center;
    border-radius: 20px;
}

.modal-content input{
    background-color: rgba(100, 100, 100, 0.5);
}
.modal-content select{
    background-color: rgba(100, 100, 100, 0.5);
}
.modal-content option{
    background-color: rgb(255, 255, 255);
}

.modal-content input:focus{
    background-color: rgba(100, 100, 100, 0.5);
}

.modal-header,.modal-footer{
    border: none;
}

.btn-social{
    width: 80px;
}

/* END MODAL */

@media screen and (max-width:768px) {

    #nota{
        padding: 20px;
    }

    .nota-contenido{
        font-size: 1.2rem;
    }

    .img-nota{
        width: 100%;
    }

    .text-small{
        font-size: 0.8rem;
        line-height: 50%;
    }
}